html, body {
  background: #333;
  background-size: auto;
}

.logo {
  display: block;
  width: 215px;
  height: 78px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.map {
  background: url('./map.jpg');
}

.characterFront {
  background: url('./characterFront.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.characterBack {
  background: url('./characterBack.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.characterLeft {
  background: url('./characterLeft.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.characterRight {
  background: url('./characterRight.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}
